# Taller Electiva VI 
## Nombre: William Toledo Motta

1. importe pandas usando el alias pd.

In [ ]:
import pandas as pd

2. imprima la version de pandas que ha sido importada.

In [ ]:
print(pd.__version__)
pd.show_versions()

4. cree un dataframe df a partir del diccionario data con los indices de la lista labels.

In [ ]:
import numpy as np

data = {'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(data)
df= pd.DataFrame({'labels':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']})
print (df)

5. Muestre un resumen de la información básica sobre este DataFrame y sus datos (pista: hay un método único al que se puede llamar en el DataFrame).

In [ ]:
df.describe()

6. visualice las primeras 3 filas del DataFrame df

In [ ]:
df.head(3)

7. Seleccione solo las columnas 'animal' y 'edad' del DataFrame df.

In [ ]:
df.iloc[:,0:2]

8. Seleccione los datos en las filas [3, 4, 8] en las columnas ['animal', 'edad'].

In [ ]:
df.iloc[[3,4,8],0:2]

9. Seleccione solo las filas en las que el número de visitas sea superior a 3.

In [ ]:
df[df['visitas'] > 3] # No salen filas porque ninguna cumple con la condición

10. Seleccione las filas donde falta la edad, es decir, es NaN

In [ ]:
filas = df[df.edad.isnull()]
filas

11. Seleccione las filas donde el animal es un gato y la edad es menor de 3.

In [ ]:
df.iloc[[0,5]]

12. Seleccione las filas cuya edad está entre 2 y 4 (inclusive).

In [ ]:
df.iloc[[0,1,5,9]]

13. Cambie la edad en la fila f a 1.5.

In [ ]:
df.replace({'edad': 2}, 1.5)

15. Calcule la edad media de cada animal diferente en df

In [ ]:
Media_Perros = df[df['animal'] == 'perro']
Media_Perros.head()
Media_Perros['edad'].describe()

In [ ]:
Media_Gatos = df[df['animal'] == 'gato']
Media_Gatos.head()
Media_Gatos['edad'].describe()

In [ ]:
Media_Serpientes = df[df['animal'] == 'serpiente']
Media_Serpientes.head()
Media_Serpientes['edad'].describe()

16. Agrega una nueva fila 'k' a df con tu elección de valores para cada columna. Luego elimine esa fila para asi volver al DataFrame original

In [ ]:
df.loc['k']=['k','cangrejo',1,1,'No']
print(df)
df.drop(['k'],axis=0)

17. Cuente el número de cada tipo de animal en df

In [ ]:
df= pd.DataFrame({'labels':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']})

Animales = df['animal'].value_counts()
print(Animales)

18. Ordene df primero por los valores en la 'edad' en orden descendente, luego por el valor en la columna 'visitas' en orden ascendente (por lo que la fila i debe ser la primera y la fila d debe ser la última).

In [ ]:
df_orde = df.sort_values(by= ['edad','visitas'], ascending = [False, True], inplace= False)
print (df_orde)

19. La columna 'prioridad' contiene los valores 'sí' y 'no'. Reemplace esta columna con una columna de valores booleanos: 'sí' debe ser True y 'no' debe ser False.

In [ ]:
df.replace({'prioridad': {'si': 'True', 'no': 'False'}})

20. En la columna 'animal', cambie las entradas de 'serpiente' a 'python'.

In [ ]:
df.replace({'animal': 'serpiente'}, 'python')

21. Para cada tipo de animal y cada número de visitas, encuentre la edad media. En otras palabras, cada fila es un animal, cada columna es un número de visitas y los valores son las edades medias

In [ ]:
Table= pd.pivot_table(df, values= 'edad', index='animal', columns = 'visitas', aggfunc=np.mean)
Table

22. Se tiene un DataFrame df con una columna 'A' de enteros.

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
¿Cómo se filtran las filas que contienen el mismo número entero que la fila inmediatamente superior?

Debería quedarse con una columna que contiene los siguientes valores:

1, 2, 3, 4, 5, 6, 7

In [ ]:
df22 = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df22
df22.drop_duplicates(['A'], keep='last')

23. Dado un DataFrame de valores numéricos:

df = pd.DataFrame(np.random.random(size=(5, 3))) # tabla de valores reales de 5x3  
¿Cómo se resta la media de la fila de cada elemento de la fila?

In [ ]:
df23 = pd.DataFrame(np.random.random(size=(5, 3))) 
print (df23)
x= df23.mean(axis=1)
print(x)
df23.sub(df23.mean(axis=1), axis=0)

24. Suponga que tiene DataFrame con 10 columnas de números reales, por ejemplo:

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
¿Qué columna de números tiene la suma más pequeña? Devuelva la etiqueta de esa columna.

In [ ]:
df24 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij')) 
print(df24)
minimo= df24.sum()
print(minimo)
minimo.min()

25. ¿Cómo se cuenta cuántas filas únicas tiene un DataFrame (es decir, ignora todas las filas que están duplicadas)? Como entrada, use un DataFrame de ceros y unos con 10 filas y 3 columnas.

df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

In [ ]:
df25 = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
F = df25.iloc[:,[0,1,2]]
print(F)
N= F.drop_duplicates(keep = 'last')
print(N)

26. En la celda a continuación, se tiene un DataFrame df que consta de 10 columnas de números reales. De esos exactamente 5 entradas en cada fila son valores de NaN.

Para cada fila del DataFrame, busque la columna que contiene el tercer valor de NaN.

Debe devolver una columna de etiquetas de la forma: e, c, d, h, d

In [ ]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columnas = list('abcdefghij')

df26 = pd.DataFrame(data, columns=columnas)
print (df26)

# write a solution to the question here
(df26.isnull().cumsum(axis=1)==3).idxmax(axis=1)

27. Implemente una media móvil el grupos con tamaño de ventana 3, que ignora el valor de NaN. Por ejemplo, considere el siguiente DataFrame::

>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
The goal is to compute the Series:

0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
P.ej. la primera ventana de tamaño tres para el grupo 'b' tiene valores 3.0, NaN y 3.0 y ocurre en el índice de fila 5. En lugar de ser NaN, el valor en la nueva columna en este índice de fila debe ser 3.0 (solo los dos valores que no son NaN se utilizan para calcular la media (3 + 3) / 2)

In [ ]:
df27 = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
print (df27)
dfn=df27.groupby(['group'])['value']
valc= df27.fillna(0).groupby(['group'])['value']
x= valc.rolling(3, min_periods=1).sum()/dfn.rolling(3, min_periods=1).count()
x
x.reset_index(level=0, drop=True).sort_index()