# Taller de Pandas
Complete los  siguientes ejercicios por pasos que se plantean en este cuaderno usando la libreria Pandas

## Importando pandas

 

**1.** importe pandas usando el alias `pd`.

In [206]:
import pandas as pd

**2.** imprima la version de pandas que ha sido importada.

In [207]:
print (pd)

<module 'pandas' from 'C:\\Users\\Juliana\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'>

## usando DataFrames

### Algunas rutinas para seleccionar, ordenar sumar y añadir datos a  un Dataframe

Nota: recuerde importar numpy usando:
```python
import numpy as np
```

considere el siguente diccionario llamado `data` y la lista llamada `labels`:

``` python
data = {'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(relacion de animales y visitas al veterinario)

**4.** cree un dataframe `df` a partir del diccionario `data` con los indices de la lista `labels`.

In [236]:
import numpy as np

animales = {'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data=animales, index=labels)
print(df)

      animal  edad  visitas prioridad
a       gato   2.5        1        si
b       gato   3.0        3        si
c  serpiente   0.5        2        no
d      perro   NaN        3        si
e      perro   5.0        2        no
f       gato   2.0        3        no
g  serpiente   4.5        1        no
h       gato   NaN        1        si
i      perro   7.0        2        no
j      perro   3.0        1        no

**5.** Muestre un resumen de la información básica sobre este DataFrame y sus datos (*pista: hay un método único al que se puede llamar en el DataFrame*).

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal       10 non-null object
edad         8 non-null float64
visitas      10 non-null int64
prioridad    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**6.** visualice las primeras 3 filas del DataFrame `df`.

In [210]:
print(df.iloc[0:3])

      animal  edad  visitas prioridad
a       gato   2.5        1        si
b       gato   3.0        3        si
c  serpiente   0.5        2        no

**7.** Seleccione solo las columnas 'animal' y 'edad' del DataFrame `df`.

In [211]:
df[['animal','edad']]

      animal  edad
a       gato   2.5
b       gato   3.0
c  serpiente   0.5
d      perro   NaN
e      perro   5.0
f       gato   2.0
g  serpiente   4.5
h       gato   NaN
i      perro   7.0
j      perro   3.0

**8.** Seleccione los datos en las filas [3, 4, 8]   en las columnas ['animal', 'edad'].

In [212]:
df.iloc[[3,4,8],[0,1]]

  animal  edad
d  perro   NaN
e  perro   5.0
i  perro   7.0

**9.** Seleccione solo las filas en las que el número de visitas sea superior a 3.

In [213]:
df[df.iloc[:,2]>=3]

  animal  edad  visitas prioridad
b   gato   3.0        3        si
d  perro   NaN        3        si
f   gato   2.0        3        no

**10.** Seleccione las filas donde falta la edad, es decir, es `NaN`.

In [214]:
df[df['edad'].isnull()]

  animal  edad  visitas prioridad
d  perro   NaN        3        si
h   gato   NaN        1        si

**11.** Seleccione las filas donde el animal es un gato *y* la edad es menor de 3.

In [215]:
a=df[df['animal']=='gato']
a[a.iloc[:,1]<3]

  animal  edad  visitas prioridad
a   gato   2.5        1        si
f   gato   2.0        3        no

**12.** Seleccione las filas cuya edad está entre 2 y 4 (inclusive).

In [216]:
c=df[df.iloc[:,1]>=2]   
c[c.iloc[:,1]<=4]

  animal  edad  visitas prioridad
a   gato   2.5        1        si
b   gato   3.0        3        si
f   gato   2.0        3        no
j  perro   3.0        1        no

**13.** Cambie la edad en la fila `f` a 1.5.

In [217]:
df.at['f','edad']=1.5
print(df)

      animal  edad  visitas prioridad
a       gato   2.5        1        si
b       gato   3.0        3        si
c  serpiente   0.5        2        no
d      perro   NaN        3        si
e      perro   5.0        2        no
f       gato   1.5        3        no
g  serpiente   4.5        1        no
h       gato   NaN        1        si
i      perro   7.0        2        no
j      perro   3.0        1        no

**14.** Calcule la suma de todas las visitas en df (es decir, encuentre el número total de visitas).

In [218]:
df['visitas'].sum()

19

**15.** Calcule la edad media de cada animal diferente en `df`.

In [268]:
df.groupby('animal')['edad'].mean()

animal
gato         2.5
perro        5.0
serpiente    2.5
Name: edad, dtype: float64

**16.** Agrega una nueva fila 'k' a `df` con tu elección de valores para cada columna. Luego elimine esa fila para asi volver al DataFrame original

In [226]:
df.loc['k']=[ 'rana',  2,  3,  'si']
w=df.drop(['k'])
print(w)

      animal  edad  visitas prioridad
a       gato   2.5        1        si
b       gato   3.0        3        si
c  serpiente   0.5        2        no
d      perro   NaN        3        si
e      perro   5.0        2        no
f       gato   1.5        3        no
g  serpiente   4.5        1        no
h       gato   NaN        1        si
i      perro   7.0        2        no
j      perro   3.0        1        no

**17.** Cuente el número de cada tipo de animal en `df`.

In [265]:
q=df['animal'].value_counts()
q

perro        4
gato         4
serpiente    2
Name: animal, dtype: int64

**18.** Ordene `df` primero por los valores en la 'edad' en orden descendente, luego por el valor en la columna 'visitas' en orden ascendente (por lo que la fila `i` debe ser la primera y la fila `d` debe ser la última).

**19.** La columna 'prioridad' contiene los valores 'sí' y 'no'. Reemplace esta columna con una columna de valores booleanos: 'sí' debe ser `True` y 'no' debe ser `False`.

In [264]:
z=df.replace({'si':'True', 'no':'False'})
z

      animal  edad  visitas prioridad
a       gato   2.5        1      True
b       gato   3.0        3      True
c  serpiente   0.5        2     False
d      perro   NaN        3      True
e      perro   5.0        2     False
f       gato   2.0        3     False
g  serpiente   4.5        1     False
h       gato   NaN        1      True
i      perro   7.0        2     False
j      perro   3.0        1     False

**20.** En la columna 'animal', cambie las entradas de 'serpiente' a 'python'..

In [263]:
r=df.replace({'serpiente':'python'})
r

   animal  edad  visitas prioridad
a    gato   2.5        1        si
b    gato   3.0        3        si
c  python   0.5        2        no
d   perro   NaN        3        si
e   perro   5.0        2        no
f    gato   2.0        3        no
g  python   4.5        1        no
h    gato   NaN        1        si
i   perro   7.0        2        no
j   perro   3.0        1        no

**21.** Para cada tipo de animal y cada número de visitas, encuentre la edad media. En otras palabras, cada fila es un animal, cada columna es un número de visitas y los valores son las edades medias.

In [261]:
table = pd.pivot_table(df, values='edad', index='animal', columns='visitas')
table

visitas      1    2    3
animal
gato       2.5  NaN  2.5
perro      3.0  6.0  NaN
serpiente  4.5  0.5  NaN

###  es posible que deba combinar dos o más métodos para obtener la respuesta correcta

A continuación se muestran algunas formas en las que podría necesitar filtrar los datos, pero para las cuales no existe un método único "listo para usar".

**22.** Se tiene un DataFrame `df` con una columna 'A' de enteros.  
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

¿Cómo se filtran las filas que contienen el mismo número entero que la fila inmediatamente superior?

Debería quedarse con una columna que contiene los siguientes valores:

```python
1, 2, 3, 4, 5, 6, 7
```

**23.** Dado un DataFrame de valores numéricos:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # tabla de valores reales de 5x3  
```

¿Cómo se resta la media de la fila de cada elemento de la fila?

**24.** Suponga que tiene DataFrame con 10 columnas de números reales, por ejemplo:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```

¿Qué columna de números tiene la suma más pequeña? Devuelva la etiqueta de esa columna.

**25.** ¿Cómo se cuenta cuántas filas únicas tiene un DataFrame (es decir, ignora todas las filas que están duplicadas)? Como entrada, use un DataFrame de ceros y unos con 10 filas y 3 columnas.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

**26.** En la celda a continuación, se tiene un DataFrame `df` que consta de 10 columnas de números reales. De esos exactamente   5 entradas en cada fila son valores de NaN. 

Para cada fila del DataFrame, busque la columna que contiene el tercer valor de NaN.

Debe devolver una columna de etiquetas de la forma: `e, c, d, h, d`

In [4]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columnas = list('abcdefghij')

df = pd.DataFrame(data, columns=columnas)

# write a solution to the question here

NameError: name 'np' is not defined

**27.** Implemente una media móvil el grupos con tamaño de ventana 3, que ignora el valor de NaN. Por ejemplo, considere el siguiente DataFrame::

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
se debe calcular el filtro y obtener estos valores

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
P.ej. la primera ventana de tamaño tres para el grupo 'b' tiene valores 3.0, NaN y 3.0 y ocurre en el índice de fila 5. En lugar de ser NaN, el valor en la nueva columna en este índice de fila debe ser 3.0 (solo los dos valores que no son NaN se utilizan para calcular la media (3 + 3) / 2)