# Taller de Pandas
Complete los  siguientes ejercicios por pasos que se plantean en este cuaderno usando la libreria Pandas

#### JEISON FERNEY QUEVEDO ARTEAGA
##### ELECTIVA VI

## Importando pandas

 

**1.** importe pandas usando el alias `pd`.

In [1]:
import pandas as pd

**2.** imprima la version de pandas que ha sido importada.

In [2]:
print(pd.__version__)
pd.show_versions()

1.0.5

C:\Users\ASUS\anaconda3\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Spanish_Colombia.1252

pandas           : 1.0.5
numpy            : 1.18.5
pytz             : 2020.1
dateutil         : 2.8.1
pip              : 20.1.1
setuptools       : 49.2.0.post20200714
Cython           : 0.29.21
pytest           : 5.4.3
hypothesis       : None
sphinx           : 3.1.2
blosc            : None
feather          : None
xlsxwriter       : 1.2.9
lxml.etree       : 4.5.2
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.16.1
pandas_datareader: None
bs4              : 4.9.1
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.2
matplotlib       : 3.2.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.4
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.4.3
pyxlsb           : None
s3fs             : None
scipy            : 1.5.0
sqlalchemy       : 1.3.18
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.9
numba            : 0.50.1

## usando DataFrames

### Algunas rutinas para seleccionar, ordenar sumar y añadir datos a  un Dataframe

Nota: recuerde importar numpy usando:
```python
import numpy as np
```

considere el siguente diccionario llamado `data` y la lista llamada `labels`:

``` python
data = {'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(relacion de animales y visitas al veterinario)

**4.** cree un dataframe `df` a partir del diccionario `data` con los indices de la lista `labels`.

In [4]:
import numpy as np

data = {'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(data)

df = pd.DataFrame({'labels':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'],
        'edad': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']})
print(df)

{'animal': ['gato', 'gato', 'serpiente', 'perro', 'perro', 'gato', 'serpiente', 'gato', 'perro', 'perro'], 'edad': [2.5, 3, 0.5, nan, 5, 2, 4.5, nan, 7, 3], 'visitas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'prioridad': ['si', 'si', 'no', 'si', 'no', 'no', 'no', 'si', 'no', 'no']}
  labels     animal  edad  visitas prioridad
0      a       gato   2.5        1        si
1      b       gato   3.0        3        si
2      c  serpiente   0.5        2        no
3      d      perro   NaN        3        si
4      e      perro   5.0        2        no
5      f       gato   2.0        3        no
6      g  serpiente   4.5        1        no
7      h       gato   NaN        1        si
8      i      perro   7.0        2        no
9      j      perro   3.0        1        no

**5.** Muestre un resumen de la información básica sobre este DataFrame y sus datos (*pista: hay un método único al que se puede llamar en el DataFrame*).

In [5]:
df.describe()

           edad    visitas
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

6. visualice las primeras 3 filas del DataFrame `df`.

In [6]:
df.iloc[0:3]

  labels     animal  edad  visitas prioridad
0      a       gato   2.5        1        si
1      b       gato   3.0        3        si
2      c  serpiente   0.5        2        no

**7.** Seleccione solo las columnas 'animal' y 'edad' del DataFrame `df`.

In [7]:
df.iloc[:,[1,2]]

      animal  edad
0       gato   2.5
1       gato   3.0
2  serpiente   0.5
3      perro   NaN
4      perro   5.0
5       gato   2.0
6  serpiente   4.5
7       gato   NaN
8      perro   7.0
9      perro   3.0

**8.** Seleccione los datos en las filas [3, 4, 8]   en las columnas ['animal', 'edad'].

In [8]:
df.iloc[[3,4,8], 1:3]

  animal  edad
3  perro   NaN
4  perro   5.0
8  perro   7.0

**9.** Seleccione solo las filas en las que el número de visitas sea superior a 3.

In [9]:
# Segun el numero de visitas registrado en el df, ninguno es superior a 3

**10.** Seleccione las filas donde falta la edad, es decir, es `NaN`.

In [10]:
df.iloc[[3,7]]

  labels animal  edad  visitas prioridad
3      d  perro   NaN        3        si
7      h   gato   NaN        1        si

**11.** Seleccione las filas donde el animal es un gato *y* la edad es menor de 3.

In [11]:
df.iloc[[0,5]]

  labels animal  edad  visitas prioridad
0      a   gato   2.5        1        si
5      f   gato   2.0        3        no

**12.** Seleccione las filas cuya edad está entre 2 y 4 (inclusive).

In [12]:
df.iloc[[0,1,5,9]]

  labels animal  edad  visitas prioridad
0      a   gato   2.5        1        si
1      b   gato   3.0        3        si
5      f   gato   2.0        3        no
9      j  perro   3.0        1        no

**13.** Cambie la edad en la fila `f` a 1.5.

In [13]:
df.iloc[[5]].replace([2], 1.5)

  labels animal  edad  visitas prioridad
5      f   gato   1.5        3        no

14. Calcule la suma de todas las visitas en df (es decir, encuentre el número total de visitas).

In [14]:
df['visitas'].sum()

19

**15.** Calcule la edad media de cada animal diferente en `df`.

In [15]:
# Se organiza cada animal segun su tipo, para luego hallar la media de sus edades.
em = df.iloc[[0,1,5,7], 1:3]
print(em)
c1 = em['edad'].mean()
print(c1)
#%%
em1 = df.iloc[[2,6], 1:3]
print(em1)
c2 = em1['edad'].mean()
print(c2)
#%%
em3 = df.iloc[[3,4,8,9], 1:3]
print(em3)
c3 = em3['edad'].mean()
print(c3)

  animal  edad
0   gato   2.5
1   gato   3.0
5   gato   2.0
7   gato   NaN
2.5
      animal  edad
2  serpiente   0.5
6  serpiente   4.5
2.5
  animal  edad
3  perro   NaN
4  perro   5.0
8  perro   7.0
9  perro   3.0
5.0

**16.** Agrega una nueva fila 'k' a `df` con tu elección de valores para cada columna. Luego elimine esa fila para asi volver al DataFrame original

In [16]:
# Se agrega una fila al df original
df.loc['10'] = ['k','mono',5.0,5,'si']
print(df)
# Se elimina la fila 'k' del df original
df.drop(['10'], inplace= True, axis= 0)
print(df)

   labels     animal  edad  visitas prioridad
0       a       gato   2.5        1        si
1       b       gato   3.0        3        si
2       c  serpiente   0.5        2        no
3       d      perro   NaN        3        si
4       e      perro   5.0        2        no
5       f       gato   2.0        3        no
6       g  serpiente   4.5        1        no
7       h       gato   NaN        1        si
8       i      perro   7.0        2        no
9       j      perro   3.0        1        no
10      k       mono   5.0        5        si
  labels     animal  edad  visitas prioridad
0      a       gato   2.5        1        si
1      b       gato   3.0        3        si
2      c  serpiente   0.5        2        no
3      d      perro   NaN        3        si
4      e      perro   5.0        2        no
5      f       gato   2.0        3        no
6      g  serpiente   4.5        1        no
7      h       gato   NaN        1        si
8      i      perro   7.0        2        no
9      j      perro   3.0        1        no

**17.** Cuente el número de cada tipo de animal en `df`.

In [17]:
# se organiza cada animal segun su tipo, para luego ser contados
g = df.iloc[[0,1,5,7],[1]]
print(g)
a = g.count()
print(a)

#%%
p = df.iloc[[3,4,8,9],[1]]
print(p)
b = p.count()
print(b)

#%%
s = df.iloc[[2,6],[1]]
print(s)
c = s.count()
print(c)

  animal
0   gato
1   gato
5   gato
7   gato
animal    4
dtype: int64
  animal
3  perro
4  perro
8  perro
9  perro
animal    4
dtype: int64
      animal
2  serpiente
6  serpiente
animal    2
dtype: int64

18. Ordene `df` primero por los valores en la 'edad' en orden descendente, luego por el valor en la columna 'visitas' en orden ascendente (por lo que la fila `i` debe ser la primera y la fila `d` debe ser la última).

In [18]:
ordn = df.sort_values(by = ['edad','visitas'], ascending = [False, True], inplace = False)
print(ordn)

  labels     animal  edad  visitas prioridad
8      i      perro   7.0        2        no
4      e      perro   5.0        2        no
6      g  serpiente   4.5        1        no
9      j      perro   3.0        1        no
1      b       gato   3.0        3        si
0      a       gato   2.5        1        si
5      f       gato   2.0        3        no
2      c  serpiente   0.5        2        no
7      h       gato   NaN        1        si
3      d      perro   NaN        3        si

**19.** La columna 'prioridad' contiene los valores 'sí' y 'no'. Reemplace esta columna con una columna de valores booleanos: 'sí' debe ser `True` y 'no' debe ser `False`.

In [19]:
df['prioridad'].replace(['si','no'], [True,False])

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7     True
8    False
9    False
Name: prioridad, dtype: bool

**20.** En la columna 'animal', cambie las entradas de 'serpiente' a 'python'..

In [20]:
df['animal'].replace(['serpiente'], 'python')

0      gato
1      gato
2    python
3     perro
4     perro
5      gato
6    python
7      gato
8     perro
9     perro
Name: animal, dtype: object

**21.** Para cada tipo de animal y cada número de visitas, encuentre la edad media. En otras palabras, cada fila es un animal, cada columna es un número de visitas y los valores son las edades medias.

In [21]:
table = pd.pivot_table(df, values='edad', index= 'animal', columns= 'visitas', aggfunc=np.mean)
table

visitas      1    2    3
animal
gato       2.5  NaN  2.5
perro      3.0  6.0  NaN
serpiente  4.5  0.5  NaN

###  es posible que deba combinar dos o más métodos para obtener la respuesta correcta

A continuación se muestran algunas formas en las que podría necesitar filtrar los datos, pero para las cuales no existe un método único "listo para usar".

**22.** Se tiene un DataFrame `df` con una columna 'A' de enteros.  
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

¿Cómo se filtran las filas que contienen el mismo número entero que la fila inmediatamente superior?

Debería quedarse con una columna que contiene los siguientes valores:

```python
1, 2, 3, 4, 5, 6, 7
```

In [22]:
dff = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(dff)
# Se halla los numeros que estan duplicados en el dataframe
dup = dff.drop_duplicates('A')
dup

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

**23.** Dado un DataFrame de valores numéricos:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # tabla de valores reales de 5x3  
```

¿Cómo se resta la media de la fila de cada elemento de la fila?

In [23]:
dff1 = pd.DataFrame(np.random.random(size=(5, 3))) # tabla de valores reales de 5x3  
print(dff1)
#se halla la media de cada fila
pr = dff1.mean(axis =1)
print(pr)
# se halla la resta de la media de cada fila con cada elemento de la fila
dff1.sub(dff1.mean(axis=1), axis=0)

          0         1         2
0  0.493656  0.359934  0.306050
1  0.392101  0.226135  0.333583
2  0.286373  0.877555  0.320914
3  0.177432  0.437209  0.783173
4  0.735382  0.647224  0.575621
0    0.386547
1    0.317273
2    0.494947
3    0.465938
4    0.652742
dtype: float64

          0         1         2
0  0.107109 -0.026612 -0.080497
1  0.074828 -0.091138  0.016311
2 -0.208574  0.382607 -0.174033
3 -0.288506 -0.028729  0.317235
4  0.082640 -0.005519 -0.077121

**24.** Suponga que tiene DataFrame con 10 columnas de números reales, por ejemplo:

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
¿Qué columna de números tiene la suma más pequeña? Devuelva la etiqueta de esa columna.

In [24]:
dff2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(dff2)
# se halla el valor de la suma de cada columna
sm = dff2.sum()
print(sm)
# devuelve el valor minimo de las sumas de todas las columnas, en este caso la columna i
sm.min()

          a         b         c         d         e         f         g  \
0  0.062967  0.684984  0.524382  0.467633  0.936217  0.613827  0.326984
1  0.759263  0.431328  0.119703  0.549965  0.608862  0.856599  0.529825
2  0.010593  0.438082  0.083831  0.097634  0.696778  0.005743  0.702375
3  0.258685  0.669782  0.322153  0.418637  0.306141  0.997212  0.611270
4  0.092400  0.519957  0.517195  0.430008  0.236888  0.823147  0.580430

          h         i         j
0  0.244332  0.424415  0.714937
1  0.349215  0.776886  0.054516
2  0.088053  0.974784  0.910642
3  0.010381  0.910415  0.903829
4  0.051077  0.462819  0.524663
a    1.183908
b    2.744133
c    1.567263
d    1.963876
e    2.784885
f    3.296529
g    2.750884
h    0.743057
i    3.549318
j    3.108588
dtype: float64

0.7430568702484336

**25.** ¿Cómo se cuenta cuántas filas únicas tiene un DataFrame (es decir, ignora todas las filas que están duplicadas)? Como entrada, use un DataFrame de ceros y unos con 10 filas y 3 columnas.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [25]:
dff3 = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
# Se llaman todas las columnas del dff3
cu = dff3.iloc[:,[0,1,2]]
print(cu)
# Se busca en el dff3, los valores de las filas que estan duplicados y se ignoran.
b = cu.drop_duplicates(keep = 'last')
print(b)

   0  1  2
0  1  0  1
1  0  0  1
2  0  0  0
3  1  0  1
4  0  1  1
5  1  0  0
6  1  1  1
7  0  0  1
8  1  0  0
9  1  0  1
   0  1  2
2  0  0  0
4  0  1  1
6  1  1  1
7  0  0  1
8  1  0  0
9  1  0  1

**26.** En la celda a continuación, se tiene un DataFrame `df` que consta de 10 columnas de números reales. De esos exactamente   5 entradas en cada fila son valores de NaN. 

Para cada fila del DataFrame, busque la columna que contiene el tercer valor de NaN.

Debe devolver una columna de etiquetas de la forma: `e, c, d, h, d`

In [26]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columnas = list('abcdefghij')

df0 = pd.DataFrame(data, columns=columnas)
print (df0)

# write a solution to the question here
(df0.isnull().cumsum(axis=1)==3).idxmax(axis=1)

      a   b     c     d     e     f     g     h     i     j
0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

0    e
1    c
2    d
3    h
4    d
dtype: object

**27.** Implemente una media móvil el grupos con tamaño de ventana 3, que ignora el valor de NaN. Por ejemplo, considere el siguiente DataFrame::

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
P.ej. la primera ventana de tamaño tres para el grupo 'b' tiene valores 3.0, NaN y 3.0 y ocurre en el índice de fila 5. En lugar de ser NaN, el valor en la nueva columna en este índice de fila debe ser 3.0 (solo los dos valores que no son NaN se utilizan para calcular la media (3 + 3) / 2)

In [28]:
df01 = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
print (df01)
dfg=df01.groupby(['group'])['value']
valc= df01.fillna(0).groupby(['group'])['value']
ss= valc.rolling(3, min_periods=1).sum()/dfg.rolling(3, min_periods=1).count()
ss
ss.reset_index(level=0, drop=True).sort_index()

   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0

0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
Name: value, dtype: float64